<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.mybatis.example.BlogMapper">


  <select id="selectAll" resultType="com.dto.Dept">
  <![CDATA[
    select deptno, dname, loc from dept
    where deptno >= 90
    ]]>
  </select>   
  
   <select id="selectAll2" resultType="com.dto.Dept">
    select deptno, dname, loc from dept
    where deptno &gt;= 90
  </select>   
  
  <select id="selectByDeptno" resultType="com.dto.Dept">
    select deptno, dname, loc from dept where deptno=10
  </select> 
  
  <select id="multiSelectMap" parameterType="hashmap" resultType="com.dto.Dept">
		select deptno, dname, loc
		from dept
		where deptno In (#{deptno1}, #{deptno2})
	</select>
  
</mapper>
